<section class="services-content">
    <div class="services-section1">
        <h1 class="tittle-services about">Who We Are</h1>
        <img class="paw-in-hand" src="/images/paw-in-hand_68862.jpg" alt="" />
    </div>

</section>

<section>
    <div class="icons-container">
        <div class="icons">
            <h2>Core Values</h2>
            <div class="icon-item core">
                <img src="/images/svg/people-nearby-svgrepo-com.svg" alt="" />
                <p>Open</p>
            </div>

            <div class="icon-item core">
                <img src="/images/svg/stats-svgrepo-com.svg" alt="" />
                <p>Driven</p>
            </div>

            <div class="icon-item core">
                <img src="/images/svg/dialogue-conversation-bubble-svgrepo-com.svg" alt="" />
                <p>Educator's Spirit</p>
            </div>
        </div>

        <div class="icons">
            <h2>Strategic Anchors</h2>
            <div class="icon-item">
                <img src="/images/svg/paw-outline-svgrepo-com.svg" alt="" />
                <p>Save Lives</p>
            </div>

            <div class="icon-item">
                <img src="/images/svg/news-paper-svgrepo-com.svg" alt="" />
                <p>Inspire Learning</p>
            </div>

            <div class="icon-item">
                <img src="/images/svg/dog-duotone-svgrepo-com.svg" alt="" />
                <p>Connect Hearts</p>
            </div>
        </div>
    </div>
    <div class="text-container">
        <p>The Animal Rescue Foundation (ARF) is an award-winning, nationally recognized leader for its unique, dual
            mission of People Rescuing Animals … Animals Rescuing People®. With 49,000 adoptions and counting, we
            also
            strengthen the human-animal bond through life-changing programs for children, seniors, Veterans, and
            under-resourced community members.
        </p>

    </div>

</section>

<section>
    <div class="container-information">
        <h2>Humble Beginnings</h2>
        <p>RF was founded in 1991 in donated office space with a small team of driven volunteers who worked
            tirelessly to save 157 dogs and cats during our first year. It wasn’t long before the board of directors
            realized
            that of equal importance to rescuing animals was the remarkable role they play in people’s lives. Our dual
            mission of People Rescuing Animals … Animals Rescuing People® was born.

            Humane education programs began a couple of years later to ingrain an early love of animals in
            school-aged children. Therapy animals and other programs introduced animals’ unconditional love and
            acceptance to
            seniors, veterans, at-risk youth, and more people in need. Programs to help low-income pet guardians
            keep their beloved pets in homes and out of shelters soon followed.</p>
    </div>

    <div class="container-images">
        <img class="image" src="/images/about-1.png" alt="" />
        <img class="image" src="/images/about-2.png" alt="" />
    </div>

</section>

<section class="section-form">
    <h2>Email Sign Up</h2>
    <div class="form-contact">
        <h3>Let's Connect!</h3>
        <p>Thank you for your interest in the Animal Rescue Foundation. <br> We will keep you informed about ARF so you
            can
            save lives.</p>
        <form action="/about" method="post" class="form">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="Your first name" required />
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Your last name" required />
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" placeholder="Your email address" required />
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
            <input id="submit" type="submit" value="Send">
        </form>
        <p>{{message}}</p>
    </div>
</section>