<section class="holder">
    {{#each novedades}}
    <div class="novedades">
        <p class="mensaje">"{{mensaje}}"</p>
        <br>
        <p class="datos">- {{nombre}} adopted {{mascota}} in {{fecha}}.</p>
    </div>
    {{/each}}
</section>